[Unit]
Description=This is class schedule.

[Service]
User=lizqwer
WorkingDirectory=/home/lizqwer/services/tel_bot/
ExecStart=/usr/bin/sbcl --disable-debugger --load /home/lizqwer/quicklisp/local-projects/tel-bot/start.lisp
Type=simple
Restart=on-failure

[Install]
WantedBy=netowrk.target
